main > h1 {
  position: absolute;
  z-index: 100;
}

article > header {
  font-family: 'Open Sans', sans-serif;
}

article > header > h2 {
  font-weight: 800;
  line-height: 3rem;
  margin-bottom: 0.1rem;
}

article > header > p {
  margin-top: 0.5rem;
  line-height: 1.2rem;
}

article > header > p:last-child {
  margin-top: 0.25rem;
}

article > header > p:last-child > span {
  font-weight: 700;
}

article > p {
  font-family: 'Neuton', serif;
  font-weight: 300;
  font-size: 1rem;
}

footer > p {
  font-family: 'Cinzel', serif;
}

@media screen and (min-width: 320px) {
  article > header > h2 {
    font-size: 1.8rem;
    line-height: 1.15rem;
    letter-spacing: -2px;
  }
  article > header > p {
    margin-top: 0.5rem;
    font-size: 1rem;
    line-height: 1.3rem;
  }
  article > p {
    font-size: 1rem;
    line-height: 1.4em;
  }
}

@media screen and (min-width: 375px) {
  article > header > h2 {
    font-size: 2rem;
    line-height: 1.4rem;
    letter-spacing: -2px;
  }
  article > header > p {
    margin-top: 0.5rem;
    font-size: 1.2rem;
    line-height: 1.4rem;
    letter-spacing: -0.5px;
  }
  article > p {
    font-size: 1.1rem;
    line-height: 1.4em;
  }
}

@media screen and (min-width: 425px) {
  article > header > h2 {
    font-size: 2.2rem;
  }
  article > header > p {
    margin-top: 0.5rem;
    font-size: 1.25rem;
    line-height: 1.5rem;
    letter-spacing: -0.5px;
  }
  article > p {
    font-size: 1.2rem;
    line-height: 1.4em;
  }
}

@media screen and (min-width: 425px) {
  article > header > h2 {
    line-height: 1.4rem;
  }
}

@media screen and (min-width: 768px) {
  article > header > h2 {
    line-height: 1.6rem;
  }
  article > header > p {
    line-height: 1.6rem;
  }
}

@media screen and (min-width: 1024px) {
  article > header > h2 {
    line-height: 1.7rem;
  }
  article > header > p {
    line-height: 1.7rem;
  }
}

* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

h1, h2, h3, h4, h5, h6 {
  font-weight: normal;
}

article {
  margin: 1em;
}

article > header {
  margin-bottom: 1rem;
}

article > footer {
  margin-top: 1rem;
  text-align: right;
}

article > footer > p {
  letter-spacing: 2px;
}

main {
  position: relative;
}

main > figure:nth-child(2) {
  position: absolute;
  left: -30px;
}

main > figure:first-child {
  display: none;
  position: absolute;
  left: -10px;
  top: -20px;
}

img {
  display: block;
  -o-object-fit: cover;
     object-fit: cover;
  width: 100px;
}

main > figure:nth-child(2) > img:first-child {
  -webkit-transform: rotate(-12deg);
          transform: rotate(-12deg);
  -o-object-position: -50px 0;
     object-position: -50px 0;
  width: 100px;
  height: 180px;
  margin-left: 9px;
}

img:nth-child(2) {
  -webkit-transform: rotate(9.5deg);
          transform: rotate(9.5deg);
  width: 100px;
  height: 350px;
  margin-top: 1px;
  margin-left: -3px;
}

img:nth-child(4) {
  -webkit-transform: rotate(7.5deg);
          transform: rotate(7.5deg);
  width: 130px;
  height: 100px;
  margin-top: -300px;
  margin-left: 33px;
}

img:nth-child(3) {
  -webkit-transform: rotate(-10deg);
          transform: rotate(-10deg);
  -o-object-position: -10px 15px;
     object-position: -10px 15px;
  width: 120px;
  height: 220px;
  margin-top: 1px;
  margin-left: 4px;
}

img:nth-child(5) {
  position: absolute;
  z-index: -1;
  width: 140px;
  height: 195px;
  margin-top: 190px;
  margin-left: -14px;
  -webkit-transform: rotate(10deg);
          transform: rotate(10deg);
}

i {
  font-family: cursive;
}

@media screen and (min-width: 375px) {
  main {
    width: 375px;
    margin: 0 auto;
  }
  img:nth-child(5) {
    height: 210px;
  }
}

article > p {
  text-indent: 16px;
}

article > p:first-of-type {
  text-indent: 0;
}

article > p:first-of-type::first-letter {
  font-size: 540%;
  float: left;
  padding: 0 5px 0 0;
  margin: 0 0 0 -65px;
  line-height: 0.65em;
}

p {
  max-width: 425px;
}

.left-shape-shim {
  float: left;
  shape-outside: polygon(57px 182px, 90px 192px, 47px 457px, 134px 462px, 119px 560px, 77px 556px, 111px 749px, 75px 951px, -2px 949px, 1px -10px, 52px -11px, 89px 172px);
  height: 200vh;
  width: 150px;
}

@media screen and (min-width: 425px) {
  main {
    width: 425px;
    margin: 0 auto;
  }
}

@media screen and (min-width: 768px) {
  main {
    width: 768px;
    margin: 0 auto;
  }
  p {
    max-width: 768px;
  }
  .left-shape-shim {
    width: 440px;
    shape-outside: polygon(341px 178px, 373px 178px, 328px 454px, 407px 460px, 384px 604px, 347px 598px, 384px 808px, 345px 1019px, 281px 1018px, 289px -23px, 340px -25px, 339px -9px, 374px 161px);
  }
  main > figure:first-child {
    display: block;
  }
  main > figure:nth-child(2) {
    left: 0px;
  }
  main > figure:nth-child(2) > img:first-child {
    -webkit-transform: rotate(-12deg);
            transform: rotate(-12deg);
    width: 160px;
    height: 200px;
    margin-top: -20px;
    margin-left: 200px;
  }
  img:nth-child(2) {
    -webkit-transform: rotate(9.5deg);
            transform: rotate(9.5deg);
    width: 155px;
    height: 360px;
    margin-top: -12px;
    margin-left: 193px;
  }
  img:nth-child(4) {
    -webkit-transform: rotate(9.5deg);
            transform: rotate(9.5deg);
    width: 180px;
    height: 135px;
    margin-top: -360px;
    margin-left: 220px;
  }
  img:nth-child(3) {
    -webkit-transform: rotate(-10deg);
            transform: rotate(-10deg);
    -o-object-position: 0 10px;
       object-position: 0 10px;
    width: 170px;
    height: 250px;
    margin-top: 35px;
    margin-left: 195px;
  }
  img:nth-child(5) {
    position: absolute;
    -o-object-position: 0 10px;
       object-position: 0 10px;
    z-index: -1;
    width: 190px;
    height: 200px;
    margin-top: 210px;
    margin-left: 177px;
    -webkit-transform: rotate(10deg);
            transform: rotate(10deg);
  }
  main > figure:first-child > img:first-child {
    position: absolute;
    z-index: -2;
    width: 250px;
    height: 1030px;
  }
}

@media screen and (min-width: 1024px) {
  main {
    width: 1024px;
    margin: 0 auto;
  }
  p {
    max-width: 1024px;
  }
  .left-shape-shim {
    width: 600px;
    shape-outside: polygon(500px 188px, 532px 188px, 487px 464px, 566px 470px, 543px 614px, 506px 608px, 543px 818px, 504px 1029px, 440px 1028px, 448px -13px, 499px -15px, 498px 1px, 533px 171px);
  }
  main > figure:nth-child(2) > img:first-child {
    -webkit-transform: rotate(-12deg);
            transform: rotate(-12deg);
    width: 170px;
    height: 200px;
    margin-top: -20px;
    margin-left: 350px;
  }
  img:nth-child(2) {
    -webkit-transform: rotate(9.5deg);
            transform: rotate(9.5deg);
    width: 177px;
    height: 370px;
    margin-top: -13px;
    margin-left: 332px;
  }
  img:nth-child(4) {
    -webkit-transform: rotate(9.5deg);
            transform: rotate(9.5deg);
    width: 190px;
    height: 140px;
    margin-top: -375px;
    margin-left: 368px;
  }
  img:nth-child(3) {
    -webkit-transform: rotate(-10deg);
            transform: rotate(-10deg);
    -o-object-position: 0 5px;
       object-position: 0 5px;
    width: 190px;
    height: 260px;
    margin-top: 40px;
    margin-left: 332px;
  }
  img:nth-child(5) {
    position: absolute;
    -o-object-position: 0 10px;
       object-position: 0 10px;
    z-index: -1;
    width: 190px;
    height: 195px;
    margin-top: 210px;
    margin-left: 337px;
    -webkit-transform: rotate(10deg);
            transform: rotate(10deg);
  }
  main > figure:first-child > img:first-child {
    width: 450px;
  }
}
/*# sourceMappingURL=styles.css.map */